* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  transition: opacity 0.2s ease-out;
}

body {
  transition: background-color 0.3s ease-in;
}
.article-image {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
body::-moz-selection {
  background-color: #96ccff;
}
body::selection {
  background-color: #96ccff;
}

.hidden {
  transform: translateY(-1000px);
}
.animate {
  transition: all 1s ease-in-out;
}

.article {
  background-blend-mode: multiply;
  transition: background-color 0.2s ease-out;
}
.hover-underline:hover {
  text-decoration: underline;
}
.cursor-normal {
  cursor: default;
}
.backgroundText {
  width: 100vw;
  height: 100vh;
  overflow-wrap: break-word;
  overflow-y: hidden;
}
